:root {
  --app-bc: #ffffff;
  --sidebar-bc: #f6f6f6;
  --searchInput-bc: #ffffff;
  --bottomBorder: #D5D6D5;
  --sidebarNav-bc: #f6f6f6;
  --sidebarNav: #a1a1a1;
  --sidebarNavSelected-bc: #ffffff;
  --sidebarNavSelected: #2F3A4A;
  --mainRightBorder: #eee;
  --noteCard-bc: #fcfbfc;
  --noteCardSelected-bc: #f6f6f6;
  --addbtn-bc: #f6f6f6;
  --addbtn: #000000;
  --addbtnHover-bc: #f2f2f2;
  --noteTitle: #8d8d8d;
  --noteContent: #bdbdbd;
  --noteTitleSelected: #131313;
  --noteContentSelected: #6b6b6b;
  --noteTags-bc: #f7f7f7;
  --noteTags: #cccccc;
  --noteTagsSelected-bc: #eeefef;
  --noteTagsSelected: #4F514F;
  --clearbtn-bc: #F3F4F6;
  --clearbtnHover-bc: #E5E7EB;
  --noteFromSecoundarytext: #4F514F;
  --borderFormInput: #E5E7EB;
  --formInput-bc: #F9FAFB;
  --borderFormInputSelected: #CBD5E1;
  --formInputSelected-bc: #FFFFFF;
  --tagsAddbtn-bc: #1a1a1a;
  --tagsAddbtn: #ffffff;
  --formTags-bc: #F3F4F6;
  --cancelbtn-bc: #F3F4F6;
  --cancelbtn: #374151;
  --cancelbtnHover-bc: #fb4646;
  --cancelbtnHover: #ffffff;
  --savebtn-bc: #1a1a1a;
  --savebtn: #ffffff;
  --savebtnHover-bc: #262626;
  --noteInfoLeft: #808080;
  --previewTags: #eeefef;
  --previewbtn-bc: #F3F4F6;
  --previewbtn: #374151;
  --previewbtnHover-bc: #E5E7EB;
  --previewContent: #474747;
  --scrollbar: rgb(183, 181, 181);
}

.dark {
  --app-bc: #000000;
  --sidebar-bc: #0d0d0d;
  --searchInput-bc: hsl(0, 0%, 10%);
  --bottomBorder: #222124;
  --sidebarNav-bc: #0d0d0d;
  --sidebarNav: #4b4d4e;
  --sidebarNavSelected-bc: hsl(0, 0%, 10%);
  --sidebarNavSelected: #f7f9fa;
  --mainRightBorder: #353438;
  --noteCard-bc: #0d0d0d;
  --noteCardSelected-bc: #1a1a1a;
  --addbtn-bc: #1a1a1a;
  --addbtn: #f7f9fa;
  --addbtnHover-bc: #222124;
  --noteTitle: #8a8d91;
  --noteContent: #595b5d;
  --noteTitleSelected: #f7f9fa;
  --noteContentSelected: #8a8d91;
  --noteTags-bc: hsl(0, 0%, 8%);
  --noteTags: #595b5d;
  --noteTagsSelected-bc: hsl(0, 0%, 13%);
  --noteTagsSelected: #8a8d91;
  --clearbtn-bc: #1c1b1d;
  --clearbtnHover-bc: #222124;
  --noteFromSecoundarytext: #8a8d91;
  --borderFormInput: #191b1d;
  --formInput-bc: hsl(0, 0%, 5%);
  --borderFormInputSelected: #1c1b1d;
  --formInputSelected-bc: #000000;
  --tagsAddbtn-bc: hsl(0, 0%, 10%);
  --tagsAddbtn: #f7f9fa;
  --formTags-bc: hsl(0, 0%, 10%);
  --cancelbtn-bc: hsl(0, 0%, 10%);
  --cancelbtn: #f7f9fa;
  --cancelbtnHover-bc: #fb4646;
  --cancelbtnHover: #f7f9fa;
  --savebtn-bc: #f7f9fa;
  --savebtn: #000000;
  --savebtnHover-bc: #e0e4e5;
  --noteInfoLeft: #4b4d4e;
  --previewTags: hsl(0, 0%, 10%);
  --previewbtn-bc: #1c1b1d;
  --previewbtn: #f7f9fa;
  --previewbtnHover-bc: #222124;
  --previewContent: #eae8e8;
  --scrollbar: hsl(0, 0%, 20%);
}


.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: var(--sidebar-bc);
}

.sidebar .bottom p {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar .bottom p img {
  margin-right: 10px;
}

.sidebar-flex {
  display: flex;
  align-items: center;
}

.sidebar-search {
  display: block;
  background-color: var(--searchInput-bc);
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: var(--addbtn);
}

.sidebar-search:focus {
  border: 1px solid blue;
}

.mobile-search {
  display: none;
  background-color: var(--addbtn-bc);
  color: var(--addbtn);
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sidebar-categories {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--bottomBorder);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.sidebar-categories p {
  color: var(--addbtn);
  margin: 10px 0;
}

.sidebar-categories button {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: none;
  background-color: var(--sidebarNav-bc);
  color: var(--sidebarNav);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.sidebar-categories .selected {
  background: var(--sidebarNavSelected-bc);
  color: var(--sidebarNavSelected);
}

.nav-link {
  font-weight: 600;
  padding: 10px;
  border: none;
  background-color: var(--sidebarNav-bc);
  color: var(--sidebarNav);
  border-radius: 5px;
  text-decoration: none;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-link.selected {
  background: var(--sidebarNavSelected-bc);
  color: var(--sidebarNavSelected);
  font-weight: 600;
}

.sidebar .bottom p {
  padding: 10px;
  color: var(--sidebarNavSelected);
  background-color: var(--sidebarNavSelected-bc);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

/* body {
  overflow: hidden;
} */
.main {
  overflow: auto;
}

.logo {
  padding-top: 0;
  padding-bottom: 20px;
  color: var(--sidebarNavSelected);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#App {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1.1fr 1.2fr;
  background-color: var(--app-bc);
}



.main {
  padding: 20px 10px;
  border-right: 1px solid var(--mainRightBorder);
  overflow: auto;
}


.main-heading {
  font-weight: 500;
  line-height: 1;
  color: var(--addbtn);
  margin-bottom: 10px;
}

.note-card {
  padding: 10px 15px;
  background-color: var(--noteCard-bc);
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--bottomBorder);
  overflow-wrap: anywhere;
  min-height: 135px;
   transition: 0.2s ease;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.note-card.selected {
  background-color: var(--noteCardSelected-bc);
}

.add-note-btn {
  background-color: var(--addbtn-bc);
  color: var(--addbtn);
  border: none;
  width: 100%;
  text-align: start;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-note-btn img {
  margin-right: 5px;
}

.add-note-btn:hover {
  background-color: var(--addbtnHover-bc);
}

.note-title {
  color: var(--noteTitle);
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.note-content {
  color: var(--noteContent);
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;   
  -webkit-box-orient: vertical;
   overflow: hidden;
}

.note-card.selected .note-title {
  color: var(--noteTitleSelected);
}

.note-card.selected .note-content {
  color: var(--noteContentSelected);
}

.note-card.selected .tags {
  background-color: var(--noteTagsSelected-bc);
  color: var(--noteTagsSelected);
}

.tags {
  min-width: 40px;
  text-align: center;
  background-color: var(--noteTags-bc);
  color: var(--noteTags);
  padding: 2px 5px;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.tag-filter-msg {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.tag-filter-msg p {
  font-size: 18px;
}

.tag-filter-msg button {
  cursor: pointer;
  padding: 3px 10px;
  background-color: var(--clearbtn-bc);
  color: var(--addbtn);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.tag-filter-msg p {
  color: var(--addbtn);
}

.tag-filter-msg button:hover {
  background-color: var(--clearbtnHover-bc);
}

.empty-state {
  padding-top: 30vh;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: var(--addbtn);
}

.note-form,
.todo-form {
  padding: 25px;
  position: relative;
  width: 100%;
  height: 100%;
}

.note-form-head p,
.todo-form-head p {
  color: var(--noteFromSecoundarytext);
}

.note-form header,
.todo-form header {
  border-bottom: 1px solid var(--bottomBorder);
  padding-bottom: 10px;
}

form label,
.todo-form label {
  margin-top: 10px;
  display: block;
  padding: 5px 0;
  color: var(--addbtn);
}

#formTitle,
#todoFormTitle,
.form-todo-input-task input {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-partesian {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-partesian .left {
  width: 40%;
}

.form-partesian .right {
  width: 60%;
}

.form-tags-container {
  width: 100%;
}

.note-form input,
.note-form textarea,
.note-form select,
.todo-form input,
.todo-form select {
  border: 1px solid var(--borderFormInput);
  background: var(--formInput-bc);
  color: var(--addbtn);
  outline: none;
}

.note-form input:focus,
.note-form textarea:focus,
.note-form select:focus,
.todo-form input:focus,
.todo-form select:focus {
  border-color: var(--borderFormInputSelected);
  background: var(--formInputSelected-bc);
}

.note-form-head,
.todo-form-head {
  color: var(--addbtn);
}

.form-todo-input-task {
  display: grid;
  grid-template-columns: 80% 20%;
}

.form-todo-input-task button {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--tagsAddbtn-bc);
  color: var(--tagsAddbtn);
}

.added-todo {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.form-todo {
  display: flex;
  justify-content: space-between;
  background-color: var(--noteCardSelected-bc);
  border: 1px solid var(--bottomBorder);
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  align-items: center;
}

.form-todo p {
  color: var(--addbtn);
}

.form-todo button {
  background-color: var(--cancelbtnHover-bc);
  border: none;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

form textarea {
  line-height: 1.6;
  width: 100%;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
}

form select {
  padding: 6px 10px;
  text-align: start;
  border-radius: 5px;
}

#tagInput {
  padding: 5px 8px;
  width: 80%;
  border-top-left-radius: 5px;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.form-tags-container button {
  padding: 5px 8px;
  background-color: var(--tagsAddbtn-bc);
  color: var(--tagsAddbtn);
  font-weight: 600;
  border: 1.5px solid var(--tagsAddbtn-bc);
  border-top-left-radius: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: none;
  border-left: none;
  cursor: pointer;
  width: 20%;
}

.added-tags {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
  width: 100%;
}

.form-tags {
  padding: 2px 10px;
  background-color: var(--formTags-bc);
  color: var(--addbtn);
  border-radius: 5px;
  min-width: 40px;
  text-align: center;
}

.form-buttons,
.todo-form-buttons {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.cancel-btn {
  padding: 5px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background: var(--cancelbtn-bc);
  color: var(--cancelbtn);
}

.save-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--savebtn-bc);
  color: var(--savebtn);
  font-weight: 600;
}

.save-btn:hover {
  background-color: var(--savebtnHover-bc);
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: var(--cancelbtnHover-bc);
  cursor: pointer;
  color: var(--cancelbtnHover);
}


.preview {
  padding: 20px 30px;
  overflow-wrap: anywhere;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.preview-title {
  color: var(--addbtn);
}

.note-info {
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 1px solid var(--bottomBorder);
}

.note-info * {
  margin-bottom: 10px;
}

.note-info .left {
  color: var(--noteInfoLeft);
}

.note-info .right {
  color: var(--addbtn);
}

.preview-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.preview-tags {
  padding: 2px 10px;
  background-color: var(--previewTags);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  min-width: 40px;
}

.preview-btns {
  display: flex;
  gap: 5px;
}

.preview-btns button {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--previewbtn-bc);
  color: var(--previewbtn);
  cursor: pointer;
}

.preview-btns button p {
  font-weight: 600;
}


.preview-btns button:hover {
  background-color: var(--previewbtnHover-bc);
}

.preview-content {
  margin-top: 20px;
  line-height: 1.6;
  color: var(--previewContent);
}

.preview-emptystate * {
  color: var(--addbtn);
  width: 300px;
  line-height: 1.7;
}

.preview-emptystate {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.svg-flex {
  display: flex;
  align-items: center;
}

.nav-link img {
  margin-right: 50px;
}

.previewbtn-flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon {
  color: black;
}

.dark .icon {
  color: white;
}

.todo-card {
  padding: 10px 15px;
  background-color: var(--noteCard-bc);
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-card.selected {
  background-color: var(--noteCardSelected-bc);
}

.todo-title {
  color: var(--noteTitle);
  font-weight: 600;
  margin-bottom: 5px;
}

.todo-card.selected .todo-title {
  color: var(--noteTitleSelected);
}

.todo-completed {
  color: var(--noteContent);
}

.todo-card.selected .todo-completed {
  color: var(--noteContentSelected);
}

.todo-card.selected .tags {
  background-color: var(--noteTagsSelected-bc);
  color: var(--noteTagsSelected);
}

.sidebar-categories button .icon,
.nav-link .icon {
  color: var(--sidebarNav);
}

.sidebar-categories button.selected .icon,
.nav-link.selected .icon {
  color: var(--addbtn);
}

.nav-link .icon {
  margin-right: 15px;
}


.preview-todo {
  background-color: var(--noteCardSelected-bc);
  height: 30px;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid var(--bottomBorder);
  cursor: pointer;
}

.preview-todo input {
  border: 1px solid var(--bottomBorder);
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.preview-todo label {
  color: var(--addbtn);
  font-weight: 600;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--app-bc);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.todo-checkbox-container {
  overflow: auto;
}

.desktop-hidden {
  display: none;
}

.hamburger-btn {
  /* position: absolute;
  top: 30px;
  left: 10px; */
  display: none;
  padding: 5px 10px;
  border: 1px solid var(--bottomBorder);
  background-color: var(--addbtn-bc);
  color: var(--addbtn);
  border-radius: 5px;
  font-weight: 600;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 999;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.back-btn {
  display: none;
  padding: 7px 15px;
  border: none;
  border-radius: 6px;
  background-color: var(--addbtn);
  color: var(--addbtn-bc);
  cursor: pointer;
}

.todo-container,
.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.mobile-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--bottomBorder);
  margin-bottom: 5px;
}

.category-left {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.note-card:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.dark .note-card:hover{
  box-shadow: 0 4px 12px rgba(255,255,255,0.05);
}


@media (max-width: 768px) {
  .preview{
    padding: 15px;
  }
  .desktop-hidden {
    display: block;
  }

  .hamburger-btn.show {
    display: inline;
  }

  #App {
    grid-template-columns: 1fr;
  }

  .preview-btns.desktop-hidden{
    display: flex;
  }

  .main {
    width: 100%;
    padding: 10px;
  }

  .preview-panel {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .sidebar.show-mobile {
    display: flex;
    position: absolute;
    width: 60vw;
    z-index: 1000;
  }

  .preview-panel.show-mobile {
    display: block;
    width: 100%;
  }


  .header-flex {
    border-bottom: 1px solid var(--bottomBorder);
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .form-tags-container button {
    width: 30%;
  }

  #tagInput {
    width: 70%;
  }

  .note-card,
  .todo-card {
    background-color: var(--noteCardSelected-bc);
    width: 100%;
  }

  .note-title,
  .todo-title {
    color: var(--noteTitleSelected);
  }

  .note-content,
  .todo-completed {
    color: var(--noteContentSelected);
  }

  .sidebar-search {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  .note-info{
    grid-template-columns: 40% 60%;
  }

  .main-heading{
    margin-bottom: 0;
  }
}

@media (min-width: 769px) and (max-width: 1085px) {
  #App {
    grid-template-columns: 200px 1fr;
  }

  .desktop-hidden {
    display: block;
  }

  .preview-panel {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  .preview{
    padding: 15px;
  }

  .preview-panel.show-mobile {
    display: block;
    width: 100%;
  }

  .preview-btns.desktop-hidden{
    display: flex;
  }

  .note-card,
  .todo-card {
    background-color: var(--noteCardSelected-bc);
  }

  .note-title,
  .todo-title {
    color: var(--noteTitleSelected);
  }

  .note-content,
  .todo-completed {
    color: var(--noteContentSelected);
  }

}

